.formControl {
  border: none;
  border-bottom: 1px solid var(--greyish-blue);
  background: transparent;
  color: var(--pure-white);
  opacity: 0.5;
  padding: 0 16px 16px;
  font-weight: 300;
  font-size: 15px;
  width: 100%;
  &:focus-visible {
    opacity: 1;
    outline: none;
    border-bottom: 1px solid var(--pure-white);
  }
}
.formError {
  border-bottom: 1px solid var(--red);
  position: relative;
}
.formWithPrefix {
  display: flex;
  svg {
    width: 24px;
    height: 24px;
    fill: var(--pure-white);
    @media(max-width: 376px) {
      width: 18px !important;
      height: 18px;
    }
  }
}
.withSuffix {
  position: absolute;
  right: 17px;
  bottom: 18px;
  font-size: 13px;
  color: var(--red);
}
.inputGroup {
  position: relative;
  .errorMessage {
    position: absolute;
    top: 37px;
    opacity: 0;
    font-size: 11px;
    margin: 0;
    color:  var(--red);
    &.invalidMessage {
      opacity: 1;
      transition: all linear 0.6s;
    }
  }
}


