.btn {
  border: none;
  cursor: pointer;
  padding: 0;
  &.btnLogin {
    width: 100%;
    border-radius: 6px;
    height: 48px;
    background-color: var(--red);
    color: var(--pure-white);
    font-size: 15px;
    text-align: center;
    &:hover {
      background-color: var(--pure-white);
      color: var(--semi-dark-blue);
    }
  }
  &.btnIcon {
    background-color: transparent;
    svg {
      fill: var(--greyish-blue);
      &:hover {
        fill: var(--pure-white);
      }
    }
    &.active {
      svg {
        fill: var(--pure-white);
      }
    }
  }
  &.btnRounded {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #10141E80;
    &:hover {
      background-color: var(--pure-white);
    }
  }
  &.btnPlay {
    width: 117px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    color: var(--pure-white);
    background-color: #ffffff40;
    span {
      font-size: 18px;
      font-weight: 500;
      margin-left: 18px;
    }
  }
}
