.movieCardContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  &:hover {
    .cardOverlay {
      visibility: visible;
    }
  }
  .cardOverlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all ease 100ms;
    visibility: hidden;
    @media(max-width: 768px) {
      display: none;
    }
    button {
      position: relative;
    }
  }

  .movieCardImg {
    width: 280px;
    height: 174px;
    position: relative;
    @media(max-width: 768px) {
      width: 220px;
      height: 140px;
    }
    @media(max-width: 375px) {
      width: 164px;
      height: 110px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .movieCardBody {
    margin-top: 8px;

    .movieAttributes {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        color: var(--pure-white);
        opacity: 0.75;
        font-size: 13px;
        font-weight: 300;
        @media(max-width: 375px) {
          font-size: 11px;
        }

        svg {
          fill: var(--pure-white);
          opacity: 0.75;
          margin-right: 6px;
        }

        span {
          margin-right: 8px;
        }
      }
    }

    .movieTitle {
      margin: 5px auto 0;
      font-weight: 500;
      @media(max-width: 375px) {
        font-size: 14px;
      }
    }
  }

  .movieBookmark {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;

    &:hover {
      svg path {
        stroke: var(--dark-blue) !important;
      }
    }

    svg {
      fill: none;
    }
  }
}
